html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

.card {
    margin: 10px;
}

.card-body:first-child {

    padding-bottom: 0

  }

#separator, #selector {
    display: none;
}